# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables / secrets
.env
.env.*
!.env.example
infrastructure/k8s/secret.yaml

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Node
node_modules/
.next/

# Python tooling
.pytest_cache/
.mypy_cache/

# Build artifacts
dist/
build/